@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

/*
cores:
#E01673
#15202b
*/
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Press Start 2P', cursive;
}
body{
    background-color: #15202b;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3em;
}

#calc{
    width: 350px;
    padding: .9em;
    border: 5px solid #d10909ce;
    background-color:#ffff;
    color: #292929;
    border-radius: 10px 0px;
    box-shadow: 10px 10px 1px #ffffff09;
    flex-direction: column;
    
}
#calc h3{
    font-size: .8em;
    font-weight: 300;
    color: #141414;
    border-radius: 10px 0px;
    
}
#opera{
    text-align: right;
    background-color:#ff000085 ;
    margin: 10px;
    border-radius: 0px 10px;
}
#previo{
    color: #00000083;
    padding: .2em;
    overflow-wrap: break-word;
    min-height: 1.6em;
}
#corrent{
    min-height: 1.6em;
    font-size: 1.7em;
    font-weight: 700;
    padding: 0.2em;
    overflow-wrap: break-word;
}
#butao-con{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr  1fr;
    gap: 3px;
}

#butao-con button{
    border: 2px solid rgb(0, 0, 0);
    border-radius: 5px;
    height: 4em;
    font-size: 1.2em;
    color: white;
    background-color: #fd2d2d;
    cursor: pointer;
}
#butao-con .numero{
    background-color: #ffff;
    color: #555555;
}
#butao-con .numero:hover{
    background-color: #58585838;
    color: #000000;
    transition: ease 0.2s;
}
#butao-con button:hover{
    background-color: #ca2525;
    color: #ffff;
    transition: ease 0.2s;
}
#butao-con #egual{
    grid-column: span 2;
    color: rgb(255, 255, 255);
    background-color: #000000;
}
#butao-con #egual:hover{
    grid-column: span 2;
    background-color: #6d6d6d;
    color: #ffffff;
    transition: ease 0.2s;
}

